div{
    color: #9c9cae;
}

.app-login-form{
    width: 520px;
    max-height: 100%;
    box-shadow:  rgb(202, 171, 188) 0px 8px 24px;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 75px auto;
}
h2{
    color : pink;
    display: flex;
    justify-content: center;
    
}
.form-input{
    margin-top: 10px;
}
.form-input input{
    width: 90%;   
    height: 40px; 
    border: #eee 2px solid;
    padding: 0px 20px;
}
.app-login-btn{
    width: 100%;
    border: none;
    padding: 15px;
    margin: 15px 0px;
    font-size: 18px;
    background-color: #535155;
    color: pink;
    cursor: pointer;
}
.app-toggle-btn{
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: rgba(251, 177, 189, 0.908);
    cursor: pointer;
}
.disabled-button {
    opacity: 0.5; /* Adjust opacity to visually indicate the button is disabled */
    cursor: not-allowed; /* Change cursor to indicate unclickable */
    /* Add any other styles you want to apply when the button is disabled */
  }

