<p>add-order works!</p>
<!-- <div *ngIf="orders.length > 0" class="orders-container">
    <h2>Your Orders</h2>
    <div *ngFor="let order of orders" class="order-item">
      <div class="order-details">
        <img [src]="order.img" alt="Product Image" class="product-image">
        <div>
          <h3>{{ order.name }}</h3>
          <p>Price: {{ order.price }}</p>
          <p>Categories:</p>
          <ul>
            <li *ngFor="let category of order.category">{{ category }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->