<footer class="footer">
    <div class="social-icon">
      <a class="social-icon__link" href="#" (mouseenter)="hoverIcon(true, 0)" (mouseleave)="hoverIcon(false, 0)">
        <i class="fa-brands fa-linkedin" aria-hidden="true" [@iconHover]="iconStates[0]"></i>
      </a>
      <DIV *ngIf="user$| async as user"> 
        <a class="social-icon__link" routerLink="/orders/details-order" (mouseenter)="hoverIcon(true, 2)" (mouseleave)="hoverIcon(false, 2)">
        <i class="fa-solid fa-cart-shopping" aria-hidden="true" [@iconHover]="iconStates[2]"></i>
      </a>
      <a class="social-icon__link" routerLink="/dashboard" (mouseenter)="hoverIcon(true, 3)" (mouseleave)="hoverIcon(false, 3)">
        <i class="fa-solid fa-store" aria-hidden="true" [@iconHover]="iconStates[3]"></i>
      </a>
      <a class="social-icon__link"  routerLink="/products/" (mouseenter)="hoverIcon(true, 1)" (mouseleave)="hoverIcon(false, 1)">
        <i class="fa-solid fa-tags" aria-hidden="true" [@iconHover]="iconStates[1]"></i>
      </a>
    </DIV>
    </div>
    <p>&copy;SoftUni Angular Course | All Rights Reserved</p>
  </footer>