<div class="main-container">


<h1 class="title">All products at one place</h1>
<div class="all-buttons">
  <div class="categories">
    <button mat-stroked-button color="accent" *ngFor="let category of categories" (click)="filterProductsByCategory(category)">{{ category }}</button>
  </div>
  <div>
  <button mat-stroked-button color="accent" class="create-task-btn" routerLink="/products/add-product">Create Product</button>
</div>
</div>


<div class="message" *ngIf="loading">
  <img src="../../../assets/loading.gif" alt="Loading">
</div>

<div *ngIf="!loading">
  <div class="message" *ngIf="filteredProducts.length === 0">
    <img src="../../../assets/No-products.gif" alt="No-products">
  </div>
  <div *ngIf="!viewProductClicked; else viewProductDetails" class="product-container">
    <!-- Show products if logged in -->
    <mat-card *ngFor="let product of filteredProducts" class="product-item">
      <mat-card-header>
        <mat-card-title>Product: {{ product.name | titlecase }}</mat-card-title>
        <mat-card-subtitle>
          <mat-chip *ngFor="let category of product.category" color="accent">{{ category }}</mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="image-container">
        <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered" (click)="viewProduct(product)" [matRippleColor]="color">
          <img [src]="product.img || '../../../assets/img/pink-avt.jpg'" alt="Photo">
        
          <button mat-icon-button class="order-button" (click)="orderProduct($event,product)">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        
        </div>
      </div>
      <mat-card-content>Price: {{ product.price | currency:'USD' }}</mat-card-content>
    </mat-card>
  </div>
  <ng-template #viewProductDetails>
    <app-details-product [selectedId]="selectedId" (closeProductDetails)="closeViewProductDetails()"></app-details-product>
  </ng-template>
</div>
</div>
<!-- <app-orders [product]="selectedProduct"></app-orders> -->
