<p>edit-product works!</p>
<div class="overlay" *ngIf="!close">
    <div class="popup">
      <div class="header"> 
        <h1>Edit Product</h1>   
        <button mat-icon-button (click)="OnCloseForm()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <form [formGroup]="editProductForm" (ngSubmit)="editProduct()">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name"><br><br>
  
        <label for="description">Description:</label><br>
        <textarea id="description" formControlName="description" rows="4" cols="50"></textarea>
        <br><br>
  
        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price" step="0.01">
        <br><br>
  
        <label for="category">Category:</label>
        <select id="category" formControlName="category" multiple size="4">
          <option value="" disabled>Select Category</option>
          <option *ngFor="let c of category" [value]="c">{{ c }}</option>
        </select>
        <br><br>
<!--         
        <label for="img">Image:</label>
        <input type="file" (change)="onFileSelected($event)" formControlName="img">
        <br><br> -->
  
        <button mat-stroked-button color="primary" type="submit" [disabled]="editProductForm.invalid">Submit</button>
       
      </form>
    </div>
  </div>