.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999; /* Ensure the overlay is on top of other content */
  }
  
  .popup {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: fixed;
    top: 50%; /* Center the popup vertically */
    left: 50%; /* Center the popup horizontally */
    transform: translate(-50%, -50%); /* Center the popup both vertically and horizontally */
    z-index: 1000; /* Ensure the popup is on top of the overlay */
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: rgba(230, 32, 178, 0.352);
  }
  
  .popup .content {
    max-height: 70%;
    overflow: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    color: pink;
  } 

  label {
    color: #333;
  }
  